
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>我女儿视频</h2>
<div>
    <video controls="controls">
        <source src="~/Vedio/1.mp4" type="video/mp4">
     
        Your browser does not support the HTML5 Video element.
    </video>
    <video controls="controls">
      
        <source src="~/Vedio/2.mp4" type="video/mp4">
        Your browser does not support the HTML5 Video element.
    </video>
</div>
